.ticket {
  width: 100%;
  max-width: 502px;
  height: 184px;
  padding: 20px;
  background: #FFF;

  border-radius: 5px;
  margin-bottom: 20px;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.10));

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .ticket__price {
      color: var(--primary-colors-primary-500, #2196F3);
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;

      @media (max-width: 596px) {
        font-size: 20px;
      }
    }

    @media (max-width: 596px) {
      margin-bottom: 10px;
    }
  }

  &__info {
    display: grid;
    width: 100%;
    grid-template-columns: 1.2fr 1.1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 10px;
  
    .ticket__info_col_1,
    .ticket__info_col_2,
    .ticket__info_col_3 {
      text-align: left;

      div {
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        color: #A0B0B9;

        @media (max-width: 596px) {
          font-size: 10px;
          line-height: 16px;
        }

        & + div {
          color: #4A4A4A;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 21px;

          color: #4A4A4A;

          @media (max-width: 596px) {
            font-size: 11px;
            line-height: 16px;
          }
        }
      }
    }

    @media (max-width: 596px) {
      row-gap: 8px;
    }
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }

  @media (max-width: 596px) {
    padding-top: 10px;
    max-width: 100%;
    margin-bottom: 10px;
    height: 145px;
  }

  @media (max-width: 490px) {
    padding: 10px;
    height: 145px;
  }
}

