.button-group {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 50px;

    cursor: url(../../../public/сursor.svg), auto;

    div {
      text-align: center;

      @media (max-width: 768px) {
        width: 100%;
        line-height: 16px;
        font-size: 12px;
      }

      @media (max-width: 596px) {
        font-size: 11px;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      padding: 0;
    }
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }

  @media (max-width: 596px) {
    margin-bottom: 10px;
  }
}



.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #fff;
  background: #2196F3;
  border-color: #2196F3;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  color: #fff;
  background: #137ace;
  border-color: #137ace;
}