.header {
  display: flex;
  width: 100%;
  justify-content: center;

  & .header__logo_rotate {
    animation: rotate 1s linear infinite;
  } 

  @media (max-width: 596px) {
    transform: scale(0.8);
  }
}



@keyframes rotate {
  from {
    transform: rotateY(0deg)
  }

  to {
    transform: rotateY(360deg)
  }
}

