.header {
  display: flex;
  width: 100%;
  justify-content: center;

  &__logo {
    margin: 25px auto;
  }
}

.header__logo_rotate {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg)
  }

  to {
    transform: rotateY(360deg)
  }
}

